.no_list {
  display: block;
  height: 52px;
  margin: 60px auto 93px;
  text-align: center;
}

.no_list > p {
  font-style: normal; 
  font-weight: 300;
  font-size: 18px;
  line-height: 144%;
  color: #1C1C1C;
}

.shop_item {
  text-align: left;
  display: flex;
  height: 116px;
  margin: 0px 16px 13px;
  border-radius: 8px;
}

.shop_txt1 {
  font-size: 16px;
  width: calc(100vw - 200px);
  margin: auto 0px;
}

.shop_txt2 {
  font-size: 14px;
}

.add_btn {
  width: 46px;
  height: 28px;
  border-radius: 4px;
  background-color: #0055B8;
  color: white;
  padding: 48px auto;
  position: relative;
  right: 18px;
  margin: auto 0px;
  line-height: 28px;
  text-align: center;
  font-size: 12px;
}

.shop_img {
  width: 76px;
  height: 76px;
  margin: 20px 18px;
}

.option_popup {
  border-radius: 16px 16px 0px 0px;
  position: fixed;
  bottom: 0;
  right:0;
  display: block;
  z-index: 99;
  width: 100%;
  height: 440px;
  background-color: white;
}

.option_btn {
  height: 48px;
  line-height: 48px;
  border-radius: 4px;
  background-color: #0055B8;
  color: white;
  font-size: 16px;
  text-align: center;
  position: absolute;
  bottom: 28px;
  left: 16px;
  right: 16px;
}

.option_btn > span {
  font-weight: 300;
}

.option_circle_wrap {
  display: flex;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 96px;
}

.option_circle_circle {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: auto;
}

.option_circle_border {
  display: flex;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin: auto 5px;
  border: 1px solid;
}

.border_navy {
  border-color: #002F76;
}

.border_blue {
  border-color: #1888D9;
}

.border_gray {
  border-color: #CECECE;
}

.popup_text {
  margin: 18px;
  font-size: 18px;
  float: left;
}

.popup_text > span {
  font-weight: 300;
}

.razor_img {
  width: 360px;
  position: fixed;
  bottom: 200px;
  left: 0px;
}

.close_btn {
  position: absolute;
  top: 11px;
  right: 10px;
  width: 34px;
  height: 34px;
}

.delete_btn {
  width: 24px;
  height: 24px;
  float: right;
}

.cart_item {
  position: relative;
  text-align: left;
  display: flex;
  justify-content: space-between;
  height: 82px;
  margin: 28px 11px 28px 17px;
  width: calc(100% - 24px);
}

.cart_img {
  width: 78px;
  height: 78px;
}

.pm_btn {
  display: flex;
  position: absolute;
  bottom: 0px;
  right: 7px;
  width: 82px;
  height: 28px;
}

.pm_btn > div> img {
  width: 28px;
  height: 28px;

}

.pm_btn > div {
  width: 27px;
  height: 27px;
}

.p_btn {
  border: 1px solid #CBCBCB;
  border-radius: 0px 2px 2px 0px;
}

.m_btn {
  border: 1px solid #CBCBCB;
  border-radius: 2px 0px 0px 2px;
}

.amount {
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  border-top: 1px solid #CBCBCB;
  border-bottom: 1px solid #CBCBCB;
}

.delivery_txt_wrap {
  margin-top: 28px;
}

.cart_txt1 {
  margin: 4px 18px;
  height: 22px;
  font-size: 14px;
  font-weight: 300;
}

.cart_txt2 {
  margin: 4px 18px;
  height: 24px;
  font-size: 16px;
}

.f_left {
  float: left;
}

.f_right {
  float: right;
}

.delivery_phrase {
  height: 44px;
  line-height: 22px;
  text-align: center;
  color: #838383;
  margin: 20px auto;
  font-size: 14px;
}

.delivery_phrase > span {
  font-weight: 300;
}

.phrase {
  font-size: 18px;
  line-height: 26px;
  height: 26px;
  margin: 60px auto 28px;
}

.des_text {
  font-size: 12px;
  height:20px;
  line-height: 20px;
  margin: 2px 0 10px 0;
}
