hr {
  margin: 28px 18px;
  border-top: 1px solid #F0F0F0;
}

.no_list {
  display: block;
  height: 52px;
  margin: 60px auto 93px;
  text-align: center;
}

.no_list > p {
  font-style: normal; 
  font-weight: 300;
  font-size: 18px;
  line-height: 144%;
  color: #1C1C1C;
}

.shop_item {
  text-align: left;
  display: flex;
  height: 116px;
  margin: 0px 16px 13px;
  border-radius: 8px;
  background-color: gray;
}

.shop_item > p {
  font-size: 16px;
}

.shop_item > p > span {
  font-size: 14px;
}

.shop_item > button {
  width: 46px;
  height: 28px;
  border-radius: 4px;
  background-color: #0055B8;
  color: white;
  padding: 48px auto;
}

.shop_item > div {
  width: 100%;
}

.shop_img {
  width: 76px;
  height: 76px;
  margin: 20px 18px;
}

.option_popup {
  border-radius: 16px 16px 0px 0px;
  position: fixed;
  bottom: 0;
  right:0;
  display: block;
  z-index: 99;
  width: 100%;
  height: 440px;
  background-color: white;
}

.option_btn {
  width: 328px;
  height: 48px;
  border-radius: 4px;
  background-color: #0055B8;
  color: white;
  font-size: 16px;
  text-align: center;
  position: absolute;
  top: 85%;
  left: 5%;
}

.option_btn > button {
  margin: 48px auto;
}

.option_circle_wrap {
  display: flex;
  width: 132px;
  margin: 0 auto;
}

.option_circle_wrap > div {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: auto 10px;
}

.close_btn {
  width: 34px;
}

.delete_btn {
  width: 24px;
  height: 24px;
}

.cart_item {
  text-align: left;
  display: flex;
  height: 82px;
  margin: 0px 16px 13px;
}

.cart_img {
  width: 78px;
  height: 78px;
}

.order_btn {
  background-color: #0055B8;
  color: white;
  border-radius: 8px;
  height: 48px;
  margin: 0 16px;
}

.delivery_phrase {
  text-align: center;
}

.phrase {
  font-size: 18px;
  line-height: 26px;
  height: 26px;
  margin: 60px auto 28px;
}

.des_text {
  font-size: 12px;
}