.drop_down_wrap {
  height: 400px;
  width: 100%;
  z-index: 99;
  position: fixed;
  top: 60px;
  right: 0;
  background-color: white;
}

.drop_item {
  position: relative;
  height: 72px;
  display: flex;
  text-align: left;
  margin: 26px 28px;
}

.drop_name {
  height: 24px;
  line-height: 24px;
  margin: 0;
  font-size: 16px;
}

.drop_txt1 {
  display: block;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #838383;
  padding-bottom: 2px;
}

.drop_txt2 {
  display: block;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  margin-top: 2px;
}

.drop_des {
  height: 20px;
  line-height: 20px;
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  color: #838383;
}

.drop_cycle {
  height: 22px;
  line-height: 22px;
  margin-top: 6px;
  font-size: 14px;
}

.d_right {
  position: absolute;
  right: 0px;
}

.drop_img {
  height: 68px;
  width: 68px;
  margin: 2px 18px 2px 0px;
}

.price_box {
  height: 86px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0px;
  padding: 28px 18px 0px 18px;
  color:#1C1C1C;
}

.drop_left {
  float: left;
}

.drop_right {
  float: right;
}

.cart_item_list {
  height: 286px;
  overflow-y: auto;
}