.header {
  height: 60px;
  font-style: normal;
}

.header > span {
  height: 24px;
  text-align: center;
  line-height: 60px;
}

.arrow_back {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 4px;
  top: 6px  
}

.header2 {
  height: 60px;
  margin: 0px 18px 20px;
}

.price_txt {
  color: #1c1c1c;
  font-size: 14px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  z-index: 99;
}