.logo {
  width: 97px;
  height: 15.55px;
  position: absolute;
  left: 0px;
  top:22.22px;
}

.arrow_up {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 8px;
  top: 18px;
}

.arrow_down{
  transform: rotate(-180deg);
}

.ico_cart {
  position: absolute;
  right: 20px;
  width: 48px;
  height: 48px;
  margin-top: 6px;
}

.order_wrap {
  margin: 28px 16px 0px;
}

.order_wrap2 {
  margin: 0px 16px;
  height: calc(100vh - 390px);
  overflow-y: auto;
}

.cart_label {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 28px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 50%;
  font-size: 10px;
  color: white;
  text-align: center;
  background-color: #0055B8;
}

.cycle_txt {
  height: 26px;
  line-height: 26px;
  margin-bottom: 8px;
  text-align: left;
  font-size: 18px;
}

.order_txt {
  margin: 0 0 28px 0;
  text-align: left;
  font-size: 18px;
  height: 26px;
  line-height: 26px;
}

.btn_wrap {
  height: 66px;
  overflow-x: auto;
  white-space: nowrap;
  margin-right: -16px;
}

.btn_wrap > ul {
  height: 42px;
  font-size: 14px;
  line-height: 42px;
  color: #838383;
  margin: 12px 0px;
}

.btn_wrap > ul > li {
  display: inline-block;
  padding: 0px 26px;
  height: 40px;
  margin-right: 6px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
}

.active {  
  color: #0055B8;
  border-color: #0055B8;
  border: 1px solid #0055B8;
}

.date_txt {
  display: block;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
}

.left {
  float: left;
  color: #838383;
}

.right {
  float: right;
}

.order_item {
  position: relative;
  height: 60px;
  padding: 0px 0px 28px 2px;
  display: flex;
}

.order_item > span {
  line-height: 60px;
  font-weight: 300;
  font-size: 14px;
  color: #1C1C1C;
}

.order_img {
  margin-right: 10px;
  width: 60px;
  height: 60px;
}

.cycle_btn {
  position: absolute;
  right: 0px;
  margin: 12px 0px;
  font-size: 12px;
  line-height: 36px;
  height: 36px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
  background-color: #FAFAFA;
  color: #838383;
  display: flex;
}

.unchecked_btn {
  height: 36px;
  width: 76px;
  text-align: center;
  border-radius: 8px;
}

.checked_btn {
  height: 36px;
  width: 76px;
  text-align: center;
  border-radius: 8px;
  color: #0055B8;
  background-color: white;
}

.bar_img {
  width: 100%;
  height: 20px;
  margin: 40px 0px 0px;
}

